.Header {
  background-color: var(--color-bg-secondary);

  &-Inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    @media screen and (min-width: 768px) {
      padding: 0 32px;
    }

    @media screen and (min-width: 1024px) {
      padding: 0;
      max-width: 930px;
      margin: 0 auto;
    }

    @media screen and (min-width: 1300px) {
      max-width: 1280px;
    }
  }
  
  &-Hamburger {
    display: block;
    width: 32px;
    height: 32px;

    @media screen and (min-width: 1024px) {    
      display: none;
    }
  }
  
  &-Nav {
    display: none;

    a.active {
      color: var(--color-primary);
    }

    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: center;
    }
  }
  
  &-LogoImg path {
    fill: var(--color-primary);
  }
  
  &-Link {
    margin-right: 32px;
    line-height: 80px;
    transition: color 0.3s ease-out;

    &:hover {
      color: var(--color-primary);
    }
  }
  
}

