// Fonts 
$fontPrimary: 'Manrope', sans-serif; 
$fontSecondary: 'PT Serif', serif; 

// Colors
$colorPrimary: #bf3939; 
$colorSecondary: #ffffff; 
$colorBlack: #000000; 
$colorBgPrimary: #ffffff; 
$colorBgSecondary: #F6FAFB; 
$colorTextPrimary: #333333; 
$colorTextSecondary: #696969; 

// Breakpoints 
$mobileLarge: 'min-width: 375px'; 
$tabletSmall: 'min-width: 481px'; 
$tabletMedium: 'min-width: 580px';
$tablet: 'min-width: 768px'; 
$desktop: 'min-width: 1024px'; 
$desktopLarge: 'min-width: 1300px'; 


